{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Filtrar Productos</h1>
    <form method="post" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Buscar por nombre, marca o lugar..." value="{{ search_query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    {% if products %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Lugar</th>
                    <th>Fecha de Subida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[2] }}</td>
                        <td>{{ product[3] | format_price }}</td>
                        <td>{{ product[4] }}</td>
                        <td>{{ product[5] }}</td>
                        <td>
                            <form action="{{ url_for('add_to_cart', product_id=product[0]) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-primary">Añadir al Carrito</button>
                            </form>
                            {% if current_user.is_authenticated and product[6] == current_user.id %}
                                <a href="{{ url_for('edit_product', product_id=product[0]) }}" class="btn btn-sm btn-warning" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron productos.</p>
    {% endif %}
</div>
{% endblock %}