{% extends 'base.html' %}

{% block content %}
<h2>Todos los Productos</h2>

<!-- Formulario de búsqueda -->
<form method="POST" class="mt-4 mb-4">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Buscar por nombre, marca o lugar..." value="{{ search_query }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

{% if products %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product[5] }}" class="card-img-top" alt="{{ product[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1] }} - {{ product[2] }}</h5>
                        <p class="card-text">
                            Precio: {{ product[3]|format_price }}<br>
                            Lugar: {{ product[4] }}<br>
                            Fecha: {{ product[6] }}
                        </p>
                        <a href="{{ url_for('edit', product_id=product[0]) }}" class="btn btn-sm btn-warning">Editar Precio</a>
                        <form action="{{ url_for('delete', product_id=product[0]) }}" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?');">
                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No se encontraron productos.</p>
{% endif %}
{% endblock %}